<!DOCTYPE html>
<html>
    <head>
        <title>My View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p><%= DateTime.now.strftime("The date is %A, %B %d, %Y") %></p>
    </body>
</html>
